# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaApplicationDSA/build/
/JavaApplicationDSA/dist/
/WebApplication/nbproject/private/
/WebApplication/build/

# server log
server/logs/
server/logs/localhost_access_log.2020-11-11.txt
WebApplication/dist/
WebApplication/data/api.dat
server/conf/Catalina/localhost/WebApplication.xml
*_jsp.java

#build
nbproject/private/
build/
nbbuild/

#netbean ignore
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

project-root-directory/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ src/
+ test/
+ build.xml

/maven/WebApplication/target/

git add /server/webapps/web/*