<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>DomainName</param-name>
        <param-value>http://localhost:8080/WebApplication/</param-value>
    </context-param>
    <servlet>
        <servlet-name>ChangeJson</servlet-name>
        <servlet-class>cilent.servlet.ChangeJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateElement</servlet-name>
        <servlet-class>cilent.servlet.AdminUpdateElement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>example</servlet-name>
        <servlet-class>cilent.servlet.example</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeJson</servlet-name>
        <url-pattern>/admin/update-json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateElement</servlet-name>
        <url-pattern>/admin/update-ele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>example</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
